@model SearchViewModel
<div class="row">
    <div class="col-lg-9">
        @foreach (var hit in Model.Hits)
        {
            var movie = hit.Source;

            <a class="media search-result" href="@Model.UrlFor(movie)">
                <div class="media-body">
                    <h3 class="media-heading text-info">@movie.Title</h3>
                    <h4 class="text-sub">
                        <span>
                            <span class="glyphicon glyphicon-download-alt"></span> Genres: @(string.Format("{0:n0}", String.Join(",", movie.Genres)))
                        </span>
                        | <span>
                            <span class="glyphicon glyphicon-time"></span> @movie.AirDate
                        </span>

                        | <span><span class="glyphicon glyphicon-flash"></span>query score: @hit.Score</span>
                    </h4>
                    <h4 class="text-humble">@movie.Summary</h4>
                </div>
            </a>
        }
    </div>
    <div class="col-lg-3">
        @Html.Partial("Aggregations", Model)
    </div>
</div>